body{
    color: rgb(0,128,0);
    background: rgb(128,0,128);
    margin: 0px;
    font-family: "Playfair Display", sans-serif;
    margin-bottom: 100px;
}

header{
    border-bottom: solid 2px rgb(92, 114, 143);
    padding: 20px;
    font-size: 32px;
    color: rgb(49, 63, 78);
}

section{
    background: rgb(55, 29, 65);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 50px;
}

p{
    font-size: 20px;
}

img{
    height: 200px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
}

.categoria-videos img{
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover{
    opacity: 1.0;
    border: 5px solid rgb(0, 115, 255);
}

.categoria h2{
    color: blue;
}